# Dépendances
node_modules/

# Build
dist/
.vercel
.netlify

# TypeScript incremental cache
*.tsbuildinfo

# Variables d'environnement (NE JAMAIS COMMITER)
.env
.env.local
.env.*.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
